body{
    background-color: antiquewhite;
}
h1{
font-family: 'Times New Roman', Times, serif;
color: rgb(68, 110, 4);
font-weight: bold   ;
text-align: center;
}
h2{
font-family: cursive;
color: black;
font-size: small;
text-align: center;
}
